<h1>Dev Orbitz</h1>

<div class="wrapper">

  <form [formGroup]="loginForm" class="form-login">
    <div class="form-input-area" *ngIf="!isLoginForm">
      <input matInput formControlName="name" type="text" placeholder=" ">
      <label for="username">Nome</label>
    </div>
    
    <div class="form-input-area" *ngIf="!isLoginForm">
      <input matInput formControlName="surname" type="text" placeholder=" ">
      <label for="username">Sobrenome</label>
    </div>
  
    <div class="form-input-area">
      <input matInput formControlName="username" type="text" placeholder=" ">
      <label for="username">Username</label>
    </div>
  
    <div class="form-input-area">
      <input matInput formControlName="password" type="password" placeholder=" ">
      <label for="password">Senha</label>
    </div>
  
    <div class="form-input-area" *ngIf="!isLoginForm">
      <input matInput formControlName="repeatPassword" type="password" placeholder=" ">
      <label for="username">Confirmar Senha</label>
    </div>
  </form>
  
  <div class="buttons">
  
    <orb-button
      [buttonText]="isLoginForm ? 'login' : 'criar'"
      buttonClass="primary"
      (clickEmitter)="mainAction()"
    ></orb-button>
  
    <orb-button
      [buttonText]="isLoginForm ? 'cadastrar' : 'fazer login'"
      buttonClass="secondary"
      (clickEmitter)="toggleRegister()"
    ></orb-button>
    
  </div>

</div>