h1 {
  font-size: var(--title-lg);
  color: var(--title-color);
  line-height: 2;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 auto;
  width: 300px;

  .buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}