:root {
  --text-sm: 12px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;

  --title-sm: 26px;
  --title-md: 32px;
  --title-lg: 38px;
  --title-xl: 44px;

  --space-tn: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-hg: 20px;
}